* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #545b63;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}