.query-form {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.chart-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0.25rem 0.25rem 0 0;
  border: none;
}

.chart-menu__button {
  min-width: 11rem;
  background-color: white;
  font-size: 1.1rem;
  text-align: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.25rem 0.25rem 0 0;
  position: relative;
  margin: 0;
}

.chart-menu__button:hover {
  background-color: #ccc;
}

.chart-menu__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  flex-direction: column;
  justify-content: center;
  display: none;
  border-right: 0.1rem solid #ccc;
  border-left: 0.1rem solid #ccc;
}

.chart-menu:hover .chart-menu__dropdown,
.chart-menu:active .chart-menu__dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 0.1rem solid #ccc;
  border-radius: 0 0 0.5rem 0.5rem;
}

.chart-menu__dropdown li {
  font-size: 1.1rem;
  text-align: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.chart-menu__dropdown li:not(:last-child) {
  border-bottom: 0.1rem solid #ccc;
}

.chart-menu__dropdown li:hover {
  margin: 0;
  cursor: pointer;
  background-color: #ccc;
}

.chart-menu__dropdown li:last-child {
  border-radius: 0 0 0.25rem 0.25rem;
}

.search-box__container {
  position: relative;
}

.search-box {
  position: relative;
  margin: 0.25rem 0.25rem 0 0;
}

.search__input {
  height: 100%;
  margin: 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem 0.25rem 0 0;
  font-size: 1.1rem;
}

.search-options__list--active {
  position: absolute;
  top: 37px;
  left: 0;
  width: 100%;
  height: 50vh;
  background: #fff;
  flex-direction: column;
  justify-content: center;
  border: 0.1rem solid #ccc;
  list-style: none;
  overflow-y: scroll;
  z-index: 1;
}

.search-options__list--active li {
  display: list-item;
  font-size: 1.1rem;
  text-align: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.search-options__list--active li:not(:last-child) {
  border-bottom: 0.1rem solid #ccc;
}

.search-options__list--active li:hover {
  margin: 0;
  cursor: pointer;
  background-color: #ccc;
}

.search-options__list--inactive {
  display: none;
}

.explore-button {
  min-width: 5rem;
  margin: 0.25rem 0.25rem 0 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem 0.25rem 0 0;
  font-size: 1.1rem;
  cursor: pointer;
}

.explore-button:hover,
.explore-button:active {
  background-color: #ccc;
}
